/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif; 
	font-family: 'Courier New', Courier, monospace;
	/* background-image: url("https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
	/* background-image: url("https://plus.unsplash.com/premium_photo-1669330404803-54bed8162c7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d2hpdGV8ZW58MHx8MHx8fDA%3D"); 
	background-size: cover;
	 */
	color: #000;
} 

.b{ 
	background-color:yellow;
}

/* Header Navbar Styles */
.navbar { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	background-image: linear-gradient(90deg, #74D7BB, #53C8B6, #35A99C); 
	background-image: linear-gradient(45deg,#8080ef  ,#9494f5 , rgb(184, 190, 240));
	/* background-image: linear-gradient(to right , rgb(242, 15, 212) , rgb(124, 41, 239)); */
	background-color: transparent; 
} 

.logo { 
	padding: 0 5rem; 
} 

.logo .logo-heading { 
	color: #fff; 
} 

.menu { 
	padding: 0 5rem; 
} 

.hamburger { 
	display: none; 
	color: #fff; 
	font-size: 25px; 
} 

.cross-icon { 
	display: none; 
} 

.menu .menu-list { 
	display: flex; 
	list-style: none; 
} 

.menu-list .menu-list-items { 
	padding: 0.5rem 1rem; 
} 

@media screen and (min-width: 856px) and (max-width: 1024px) { 
	.menu-list .menu-list-items { 
		padding: 0.5rem 0.3rem; 
	} 
} 

/* Main Hero Section Styles */
.hero { 
	
	/* opacity: 0.5; */
	/* background-image: ; */
	background-repeat: no-repeat; 
	background-size: 100% 100%; 
	width: 100%; 
	height: 50vh; 
	display: flex; 
	align-items: center; 
	justify-content: start; 
	margin: 4.8rem 0; 
	font-weight: bolder;
} 

.hero .intro { 
	text-align: center; 
	margin: 0 5rem; 
} 

.hero .intro-buttons { 
	margin: 2rem 0; 
	display: flex; 
	align-items: center; 
	justify-content: space-evenly; 
} 

/* About section styles */
.about { 
	display: flex; 
	align-items: center; 
	background-image: linear-gradient(45deg, #363D73, #2794B3); 
	background-image: linear-gradient(45deg,#8080ef  ,#9494f5 , rgb(184, 190, 240));

	/* background-image: linear-gradient(to bottom, #2F4F4F, #C0C0C0);
	background-image: linear-gradient(to bottom, #2F4F4F, #B0C4DE); */

	background-color: transparent;
	justify-content: space-between; 
	width: 100%; 
} 

.about .about-text { 
	width: 80%; 
	color: #fff; 
	padding: 5rem 1rem 5rem 5rem;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;

} 

.about .about-image img { 
	height: 400px; 
	width: 450px; 
	padding: 5rem 5rem 5rem 1rem; 
} 

/* Portfolio section styles */
.portfolio { 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
} 

.port-card { 
	padding: 0 !important; 
	background: none !important; 
	border: 2px solid #000; 
} 

.port-card .image { 
	height: 60%;
	margin: 5px;
} 

.port-card .image img { 
	height: 200px; 
	width: 100%; 
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px; 
} 

/* Services section styles */
.services { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
} 

.my-row { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 

.my-row .my-col { 
	text-align: center; 
	width: 30%; 
} 

.my-card { 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-radius: 20px; 
	/* background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C);  */
	background-color: #8080ef;
	padding: 1rem; 
	
} 

.icon { 
	height: 100px; 
	width: 100px; 
	border-radius: 50%; 
	background-color: #363D73; 
	background-color: darkslategray;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	/* padding : 0.5rem; */
	margin-top: 0.5rem;
} 

.icon svg { 
	font-size: 30px; 
	color: #fff; 
} 
.icon:hover , .a:hover {
	translate: 0 -10px;
	background-color: #363D73;
	border: 2px solid black;
	

}
/* Contact section styles */
.contact { 
	padding: 0 5rem; 
} 

.contact-content { 
	display: flex; 
	margin: 3rem 0; 
	justify-content: space-between; 
} 

.contact-form-container { 
	width: 50%; 
} 

.contact-form { 
	display: flex; 
	flex-direction: column; 
} 

.contact-form .form-controls { 
	width: 80%; 
	padding: 10px 0; 
	margin: 1.67rem 0; 
} 

.contact-form .form-btn { 
	width: 83%; 
} 

.contact-details { 
	width: 50%; 
} 

/* Footer Styles */
.footer { 
	background-color: #000; 
	color: #fff; 
	padding: 2rem; 
} 

.footer-list-items { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 50px; 
	width: 50px; 
	margin: 1rem 1rem 0 1rem; 
	border-radius: 50%; 
	/* background-color: #53C8B6;  */
	background-color: #8080ef;
} 

.footer-links { 
	font-size: 24px; 
	color: #fff; 
	text-decoration: none; 
} 

.social-links { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.footer-menu { 
	padding: 0 5rem; 
} 

.footer-menu .footer-menu-list { 
	display: flex; 
	list-style: none; 
} 






/* utility classes */
.greet-heading { 
	font-size: 1.3rem; 
	font-weight: lighter; 
	margin: 0; 
	letter-spacing: 1px; 
} 

.my-heading { 
	font-size: 2.5rem; 
	margin: 0; 
} 

.sub-heading { 
	margin: 0; 
	font-size: 1rem; 
	color: #ccc;
	color: #000; 
	font-weight: lighter; 
	font-weight: bolder;
} 

.links:hover { 
	border-bottom: 2px solid #fff; 
} 

.links { 
	border-bottom: 2px solid transparent; 
	transition: all 0.25s; 
	padding: 5px; 
	text-decoration: none; 
	color: #fff; 
} 

.btn { 
	padding: 10px 20px; 
	border-radius: 5px; 
	cursor: pointer; 
	letter-spacing: 1px; 
	border: none; 
} 

.common-btn { 
	background-color: #35A99C; 
	background-color: #8080ef;
	color: #fff; 
	border: 2px solid white; 
	transition: all 0.25s; 
} 

.common-btn:hover { 
	background-color: #fff; 
	/* color: #35A99C;  */
	color: blue;
	transition: all 0.25s;
	border: 2px solid #35A99C; 
	border: 2px solid black;
	outline: none; 
} 

.ghost-btn { 
	background-color: #fff; 
	color: #35A99C; 
	color: #000;
	border: 2px solid #35A99C; 
	border: 2px solid black;
	border-color: darkgray;
	outline: none; 
	
} 

.ghost-btn:hover { 
	background-color: #35A99C; 
	background-color: #9494f5;
	color: #fff; 
	/* color: blue; */
	transition: all 0.25s; 
	border: 2px solid #35A99C; 
	border: 2px solid black;

	translate: 0 -10px;
	background-color: #7b87e2;
	border: 2px solid black;
	color: #ccc;
} 

.heading-span { 
	font-weight: bolder; 
} 

.text-center { 
	text-align: center; 
} 

.small-para { 
	font-size: 14px; 
	color: #fff; 
} 

.white-text { 
	color: #fff; 
} 

.blue-text { 
	color: #363D73; 
}

/* 
body {
    background-color: #fee440;
	background-color: rgb(233, 215, 111);
} */




